
.messages{
  background-color: rgb(235, 241, 247);
  padding-bottom: 2vw;
}

/* Heading styles */
.heading-container-1 {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.heading_1 {
    font-size: 34px;
    font-weight: bold;
    color: rgba(2, 2, 76, 0.9);
    margin-top: 2vw;
}

/* Video list styles */
.videos {
    box-sizing: border-box;
    list-style: none;
    padding: 0 10vw;
    font-family: "Roboto", sans-serif;
}

.videolist {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* Director bio styles */
.directorbio {
    width: 49%;
    box-sizing: border-box;
}

.directorimg {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.image_1 {
    width: 10vw;
    max-width: 100%;
    border-radius: 50%;
    border: 1px solid #004080;
    margin-bottom: 1vw;
}

.bio {
    line-height: 1.75;
    margin-bottom: 32px;
    box-sizing: border-box;
    font-size: 1.2vw;
}
.doctor{
  color: #004080;
  font-weight: 600;
}

.info {
    display: flex;
    line-height: 1.75;
    align-items: center;
}

.info p {
    font-weight: 900;
    font-size: 1.2vw;
}

/* Video container styles */
.videodiv {
    width: 49%;
    font: 16px / 16px Roboto, sans-serif;
    padding-top: 2vw;
}

.videodiv iframe {
    border-radius: 25px;
}

.iframestyle {
    width: 100%;
    aspect-ratio: 882 / 574;
    height: 446.438px;
    border-radius: 19px;
    box-sizing: border-box;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .heading_1 {
        font-size: 2em;
    }

    .videolist {
        flex-direction: column;
    }

    .directorbio,
    .videodiv {
        width: 100%;
    }

    .bio,
    .info p {
        font-size: 1.5em;
    }

    .image_1 {
        width: 20vw;
    }

    .iframestyle {
        height: auto;
    }
}

@media (max-width: 768px) {
    .heading_1 {
        font-size: 1.5em;
    }

    .bio,
    .info p {
        font-size: 1em;
    }

    .image_1 {
        width: 30vw;
    }
}

@media (max-width:540px) {
    .heading_1,.dashboard-heading ,.accreditation-title{
        font-size: 28px;
    }

    .accreditation-title{
        margin-bottom: 3rem;
    }

    .accreditation-item{
        flex: 1 1 225px;
    }

     
}
